<%= turbo_stream.append "notification" do %>
  <div class="<%= @message_type == :success ? 'text-green-500' : 'text-red-500' %> font-bold">
    <%= @message %>
  </div>
<% end %>
<%= turbo_stream.replace "new_subscriber" do %>
  <%= render "application/subscribe_form" %>
<% end %>
