<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Ipo Notifier" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <div 
    class='fixed w-full bg-teal-500 z-10 shadow-sm'>
      <div
      class='
          py-4 
          border-b-[1px]
        '
      >
        <div 
      class='
        max-w-[2520px] 
        mx-auto 
        xl:px-20 
        md:px-10 
        sm:px-2
        px-4'
      >
          <div   
       class='
            flex
            flex-row
            items-center
            gap-3
            md:gap-0a
          '
        >
            <svg 
          class="h-8 w-8 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path strokeLinecap="round" strokeLinejoin="round" strokeWidth="2" d="M12 8c-1.657 0-3 .895-3 2s1.343 2 3 2 3 .895 3 2-1.343 2-3 2m0-8c1.11 0 2.08.402 2.599 1M12 8V7m0 1v8m0 0v1m0-1c-1.11 0-2.08-.402-2.599-1M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <svg 
          class="h-8 w-8 text-white"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  strokeWidth="2"  strokeLinecap="round"  strokeLinejoin="round">  <path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />  <polyline points="22,6 12,13 2,6" /></svg>
            <svg 
          class="h-8 w-8 text-white"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  strokeWidth="2"  strokeLinecap="round"  strokeLinejoin="round">  <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z" /></svg>
            <span 
        class="font-semibold text-xl tracking-tight text-white">Initial Public Offering Notifier</span>
          </div>
        </div>
      </div>
    </div>
    <header>
      <div class="max-w-5xl mx-auto py-16 px-14 sm:px-6 lg:px-8">
        <h1 class="mt-10 font-m font-bold text-3xl md:text-4xl lg:text-7xl text-center leading-snug text-teal-600">
          Never miss an I.P.O. unicorn again!
        </h1>
        <div class="max-w-xl mx-auto">
          <p class="font-mono text-gray-500 text-center">
            Seize the next big investment opportunity and embark on your path to financial success today!
          </p>
        </div>
      </header>
      <main class="container mx-auto flex flex-col items-center justify-start min-h-screen pt-10">
        <div class="flex justify-center items-center w-full mx-auto">
          <div>
            <%= render "application/subscribe_form" %>
          </div>
        </div>
        <%= yield %>
      </main>
      <footer>
        <div class="bg-teal-500">
          <div class="h-px w-full bg-gradient-to-r from-transparent via-[D2D8E183] to-transparent dark:via-[959CB183]"></div>
          <div class="py-5">
            <p class="text-center text-lg text-body-color text-white font-bold font-mono">
              Disclaimer:
            </p>
            <p class="px-12 pb-5 text-center text-sm text-body-color text-white font-bold font-mono">
              The information provided on this website is for general informational purposes only and does not constitute financial advice. Initial Public Offering Notifier is not a registered financial advisor. You should not rely on the information on this website as financial or investment advice. Always consult with a qualified financial advisor before making any investment decisions.
              Investing in financial markets carries inherent risks. Past performance is not indicative of future results. Initial Public Offering Notifier does not guarantee the accuracy, completeness, or timeliness of the information on this website. You acknowledge that any reliance on such information is at your own risk.
              While we strive to provide accurate and up-to-date information, Initial Public Offering Notifier makes no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the information provided on this website.
              Initial Public Offering Notifier reserves the right to modify or update this disclaimer at any time without notice. It is your responsibility to check this disclaimer periodically for changes.
            </p>
          </div>
        </div>
      </footer>
    </body>
  </html>
